In [2]:
import numpy as np
import pandas as pd

In [5]:
ser = pd.Series(np.random.random(5), name = 'Column 01')

In [7]:
ser

0    0.885173
1    0.599726
2    0.278521
3    0.909071
4    0.347343
Name: Column 01, dtype: float64

In [9]:
ser[2]

0.27852061592874922

In [2]:
from pandas_datareader import data as wb

In [5]:
from datetime import datetime
start=datetime(2019,12,1)
end =datetime.today()

In [8]:
alibaba = wb.get_data_yahoo('BABA',start,end)

In [11]:
#前10条
print(alibaba.head(10))
#最后10条
print(alibaba.tail(10))
alibaba

                  High         Low        Open       Close    Volume  \
Date
2019-12-02  198.669998  193.509995  198.580002  196.309998  19357700
2019-12-03  195.000000  189.850006  190.970001  194.899994  18355300
2019-12-04  196.660004  193.229996  195.529999  193.740005  14849300
2019-12-05  200.940002  196.429993  196.929993  200.000000  22290200
2019-12-06  202.000000  199.509995  201.110001  201.889999  14087300
2019-12-09  203.429993  198.550003  200.320007  198.740005  14258100
2019-12-10  202.479996  199.229996  200.710007  200.449997  11623900
2019-12-11  204.800003  200.720001  201.100006  204.639999  11760000
2019-12-12  206.000000  202.000000  203.710007  204.500000  22448600
2019-12-13  207.100006  203.770004  205.759995  204.910004  19270400

             Adj Close
Date
2019-12-02  196.309998
2019-12-03  194.899994
2019-12-04  193.740005
2019-12-05  200.000000
2019-12-06  201.889999
2019-12-09  198.740005
2019-12-10  200.449997
2019-12-11  204.639999
2019-12-12  204.500000
2019-12-13  204.910004
                  High         Low        Open       Close    Volume  \
Date
2021-07-12  206.455002  203.020004  203.899994  205.479996  11259500
2021-07-13  212.809998  208.190002  209.229996  209.509995  17375900
2021-07-14  216.350006  211.029999  215.500000  211.500000  19484200
2021-07-15  216.600006  213.160995  215.110001  214.759995  14283600
2021-07-16  215.199997  211.460007  214.850006  212.100006  11140100
2021-07-19  209.080002  203.240005  206.100006  208.910004  15865800
2021-07-20  211.500000  207.466995  209.000000  210.589996   9977500
2021-07-21  211.850006  208.419998  209.149994  211.080002   7626900
2021-07-22  216.389999  212.600006  212.639999  214.039993  10563100
2021-07-23  206.889999  203.559998  206.289993  206.529999  25521500

             Adj Close
Date
2021-07-12  205.479996
2021-07-13  209.509995
2021-07-14  211.500000
2021-07-15  214.759995
2021-07-16  212.100006
2021-07-19  208.910004
2021-07-20  210.589996
2021-07-21  211.080002
2021-07-22  214.039993
2021-07-23  206.529999

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-02,198.669998,193.509995,198.580002,196.309998,19357700,196.309998
2019-12-03,195.000000,189.850006,190.970001,194.899994,18355300,194.899994
2019-12-04,196.660004,193.229996,195.529999,193.740005,14849300,193.740005
2019-12-05,200.940002,196.429993,196.929993,200.000000,22290200,200.000000
2019-12-06,202.000000,199.509995,201.110001,201.889999,14087300,201.889999
...,...,...,...,...,...,...
2021-07-19,209.080002,203.240005,206.100006,208.910004,15865800,208.910004
2021-07-20,211.500000,207.466995,209.000000,210.589996,9977500,210.589996
2021-07-21,211.850006,208.419998,209.149994,211.080002,7626900,211.080002
2021-07-22,216.389999,212.600006,212.639999,214.039993,10563100,214.039993
2021-07-23,206.889999,203.559998,206.289993,206.529999,25521500,206.529999